.swipeMenuBtn {
  background-color: red;
  width: 200px;
  height: 30px;
  margin: 0;
  position: fixed;
  bottom: 0;
  ;
}

@media only screen and (max-width: 980px) {
  main {
    flex-direction: column;
  }

  .money__piramid {
    margin-left: unset;
    display: none;
  }
}
