@use "variables";

input[type="radio"] {
  display: none;
}

.quiz {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.quiz__questionText {
  display: block;
  margin-bottom: 40px;
  padding: 20px;
  color: white;
  font-size: 36px;
  text-align: center;
  border: 3px solid white;
  border-radius: 20px;
  background: rgb(52, 43, 217);
  background: linear-gradient(
    180deg,
    rgba(52, 43, 217, 1) 6%,
    rgba(26, 20, 139, 1) 55%,
    rgba(5, 0, 107, 1) 90%
  );
}

.quiz__answersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quiz__answersContainer label {
  display: flex;
  margin: 20px 40px;
  padding: 15px;
  width: 43%;
  color: white;
  font-size: 26px;
  text-align: center;
  border: 3px solid white;
  border-radius: 20px;
  cursor: pointer;
  background: rgb(52, 43, 217);
  background: linear-gradient(
    180deg,
    rgba(52, 43, 217, 1) 6%,
    rgba(26, 20, 139, 1) 55%,
    rgba(5, 0, 107, 1) 90%
  );
  transition: all 0.3s ease;
}

.quiz__answersContainer label:hover {
  border-color: rgb(255, 196, 0);
  scale: 1.01;
}

.quiz__answersContainer label.correct {
  background: rgb(43, 217, 43);
  background: linear-gradient(
    180deg,
    rgba(43, 217, 43, 1) 6%,
    rgba(36, 139, 20, 1) 55%,
    rgba(0, 107, 0, 1) 90%
  );
  color: white;
}

.quiz__answersContainer label.incorrect {
  background: rgb(217, 43, 43);
  background: linear-gradient(
    180deg,
    rgba(217, 43, 43, 1) 6%,
    rgba(139, 20, 20, 1) 55%,
    rgba(107, 0, 0, 1) 90%
  );
  color: white;
}

.quiz__answersContainer label.orange {
  animation: blink 0.75s infinite; 
  background: rgb(255, 165, 0); 
  background: linear-gradient(
    180deg,
    rgba(255, 165, 0, 1) 6%,
    rgba(204, 130, 0, 1) 55%,
    rgba(153, 98, 0, 1) 90%
  );
}

@keyframes blink {
  0% {
    opacity: 1; 
  }
  50% {
    opacity: 0.7; 
  }
  100% {
    opacity: 1; 
  }
}

.quiz__submitBtn {
  width: 250px;
  height: 60px;
  margin: auto;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  border: 3px solid white;
  cursor: pointer;
  background: rgb(154, 43, 217);
  background: linear-gradient(
    180deg,
    rgba(154, 43, 217, 1) 6%,
    rgba(102, 20, 139, 1) 55%,
    rgba(70, 0, 107, 1) 90%
  );
  transition: scale 0.3s ease;
}

.quiz__submitBtn:disabled {
  background: rgb(204, 204, 204);
  background: linear-gradient(
    180deg,
    rgba(204, 204, 204, 1) 6%,
    rgba(176, 176, 176, 1) 51%,
    rgb(138, 138, 138) 90%
  );
  cursor: not-allowed;
  border: 3px solid white;
}

.quiz__submitBtn:hover {
  scale: 1.1;
}
