@use "variables";


input[type="radio"] {
  display: none; 
}

.quiz {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 20px;
  background: linear-gradient(
    180deg,
    rgba(144, 6, 141, 1) 0%,
    rgba(173, 20, 154, 1) 23%,
    rgba(203, 18, 180, 1) 50%,
    rgba(173, 20, 154, 1) 77%,
    rgba(144, 6, 141, 1) 100%
  );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Question styling */
.quiz__question {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* Question text styling */
.quiz__questionText {
  color: white;
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
}

/* Answers container styling */
.quiz__answersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Individual answer styling */
.quiz__answersContainer label {
  color: white;
  padding: 10px;
  font-size: 26px;
  width: 48%;
  margin-bottom: 30px;
  border: 3px solid white;
  text-align: center;
  // background: linear-gradient(
  //   180deg,
  //   rgba(6, 95, 144, 1) 0%,
  //   rgba(9, 30, 122, 1) 23%,
  //   rgba(9, 14, 122, 1) 50%,
  //   rgba(9, 30, 122, 1) 77%,
  //   rgba(6, 95, 144, 1) 100%
  // );
  transition: all 0.3s ease;
  cursor: pointer;
  
  
}

/* Hover effect for answers */
// .quiz__answersContainer label:hover {
//   scale: 1.01;
//   border-color: rgb(255, 187, 0);
// }

/* Submit button styling */
.quiz__submitBtn {
  width: 250px;
  height: 60px;
  color: white;
  font-size: 25px;
  margin: auto;
  background: linear-gradient(
    180deg,
    rgba(6, 95, 144, 1) 0%,
    rgba(9, 30, 122, 1) 23%,
    rgba(9, 14, 122, 1) 50%,
    rgba(9, 30, 122, 1) 77%,
    rgba(6, 95, 144, 1) 100%
  );
  text-transform: uppercase;
  border: 3px solid white;
  cursor: pointer;
  transition: scale 0.3s ease;
}

/* Hover effect for submit button */
.quiz__submitBtn:hover {
  scale: 1.1;
}


.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

